p {
    color: #123456;
    font-size: 2em;
    padding: 0;
}
h1 {
    color: #654321;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
footer {
    color: #987654;
    font-size: 14em;
}